/*-------------- HEADER CSS ---------------------------------------------------------*/
 body {
    font: 400 15px Lato, sans-serif;
    
    color: #818181;
  }


 .navbar {
  margin-bottom: 0;
  background-color: #f4511e;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

 .navbar li a, .navbar .navbar-brand {
   color: #fff !important;
 }

  .navbar-nav li a:hover, .navbar-nav li.active a {
   color: #f4511e !important;
   background-color: #fff !important;
  }

 .navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
 }

 .category-drop-down{
  background-color:#383838;
  }
 
 .category-drop-down a{
  color:white;
 }
 
 .category-drop-down a:hover{
   background-color:#007bff;
  }



/*---------------------FOOTER CSS -------------------------------------------------------------*/

.site-footer
{
  
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

/*-----------------------SIGN UP FORM CSS --------------------------------------------*/

 body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }


.btn-primary,.btn-primary:hover{

  background: #f4511e;
  border-color: #f4511e;
}


.signup-form .form-group input {

 border-radius: 8px;
}


.link_format{
  color:#f4511e;
}

.signup-form {
    width: 50%;
    margin: 50px auto;
    margin-top: 10%;
  }
    .signup-form form {
       margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    
    .signup-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }

   .signup-form h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;

  }
  
 /*------------------- LOGIN FORM ---------------------------------------*/
 
 
 
   body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }

.login-form {
    width: 340px;
    margin: 50px auto;
    margin-top: 14%;
  }
  
   .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .btn-default,.btn-default:hover{

     background: #f4511e;
     border-color: #f4511e;
  }

  .create_account{
  color:#f4511e;
}

    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }

   .login-form h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;

  }
  
  
 /*---------------------------- FEEDBACK FORM CSS -------------------------------------*/
 
 
 .contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    border-style: solid;
    border-radius: 28px;}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    border: 1px solid grey;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    
}





.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
} 
